#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  position: absolute;
  left: 0;
  top: 0;
}

.AppContainer {
  background-color: #fff;
  box-shadow: rgba(31, 38, 46, 0.12) 0px 2px 8px,
    rgba(31, 38, 46, 0.08) 0px 4px 16px;
  padding: 8rem;
  max-width: 70rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
