@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full p-2.5;
  }
  .form-label {
    @apply flex text-gray-700 pr-5;
  }
  .form-error {
    @apply flex text-red-500 mt-1;
  }
  .form-field {
    @apply my-5;
  }
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #f0f1f2;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  /* font-weight: bold; */
}
h3 {
  font-size: 1.17em;
  /* font-weight: bold; */
}
h4 {
  font-size: 1em;
  text-align: justify;
  /* font-weight: bold; */
}
h5 {
  font-size: 0.83em;
  /* font-weight: bold; */
}
h6 {
  font-size: 0.67em;
  /* font-weight: bold; */
}

a {
  color: blue;
  text-decoration: underline;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #007bff;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:hover {
  border-color: #0056b3;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
